body{
    font-family: Arial;
    background-color: pink;
}
header {
    background-color: pink;
    color: rgb(32, 9, 167);
    text-align: center;
    padding: 30px;
    

}
header h1 {
    margin-bottom: 10px;
}
header h2{
    font-size: 18px;
    margin-bottom: 1Opx;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20 px;
    padding: 30px;
}
.card {
    background: white;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    text-align: center;
}
.card img {
    width: 300px;
    height: 200px;
    margin: 30px;
}
.card h3{
    padding: 10px;
    font-size: 18px;
}
.price {
    color: blueviolet;
    font-weight: bold;
}